# Final Project
| Group 1:       |     |
| -------------- | --- |
| Student Names:             |UCIDs:|
| Samiul Haque               |30169845|
| Elias Poitras-Whitecalf    |30193066|
| Ryan Graham                |30171130|

### Imports

In [ ]:
import kagglehub
import pandas as pd
import seaborn as sns
import numpy as np
import sklearn
import matplotlib
import warnings
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import sklearn.model_selection as sk
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from dateutil.relativedelta import relativedelta
from datetime import datetime
warnings.filterwarnings('ignore') #ignoring some deprication warnings

path = kagglehub.dataset_download("evangora/premier-league-data")
path += '/matches.csv'

print("Path to dataset files:", path)

Path to dataset files: /Users/eliaspw/.cache/kagglehub/datasets/evangora/premier-league-data/versions/1/matches.csv

In [32]:
data = pd.read_csv(path)
data.head()

,Unnamed: 0,Season,Date,Home,xG,Home Goals,Away Goals,xG.1,Away,Attendance,Venue
0,0,2023/2024,2023-08-11,Burnley,0.3,0.0,3.0,1.9,Manchester City,21572.0,Turf Moor
1,1,2023/2024,2023-08-12,Arsenal,0.8,2.0,1.0,1.2,Nott'ham Forest,59984.0,Emirates Stadium
2,2,2023/2024,2023-08-12,Everton,2.7,0.0,1.0,1.5,Fulham,39940.0,Goodison Park
3,3,2023/2024,2023-08-12,Sheffield Utd,0.5,0.0,1.0,1.9,Crystal Palace,31194.0,Bramall Lane
4,4,2023/2024,2023-08-12,Brighton,4.0,4.0,1.0,1.5,Luton Town,31872.0,The American Express Community Stadium

### Data Cleaning

In [ ]:
data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
print("Original dataset shape:", data.shape)
max_date = data['Date'].max()
min_date = max_date - relativedelta(years=10) #only want the most recent 30 years of data

data = data[data['Date'] >= min_date]
print("Filtered dataset shape (last 10 years):", data.shape)

data = data.drop(['Unnamed: 0','Season'], axis=1) #these columns not needed for our models
print(data.dtypes)
print(data.isnull().sum())

Original dataset shape: (60529, 11)
Filtered dataset shape (last 30 years): (11482, 11)
Date          datetime64[ns]
Home                  object
xG                   float64
Home Goals           float64
Away Goals           float64
xG.1                 float64
Away                  object
Attendance           float64
Venue                 object
dtype: object
Date             0
Home             0
xG            8822
Home Goals       0
Away Goals       0
xG.1          8822
Away             0
Attendance     960
Venue            0
dtype: int64

### KNN

### Gradient Boosted Forest

### Linear Regression